input {
    background-color: #f3ba00;
    color: black;
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-text);
    padding: 5px;
    width: 100%;
}

.btn-send {
    width: 76%;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.aux-btns-form {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.aux-btns-form a {
    padding-right: 10px;
    text-decoration: none;
}