:root {
    --color-primary: #f7e522 ;
    --color-secundary: #f3ba00;
    --color-text: #000000;
    --font-main: Montserrat Semi Bold;
    --font-text: Montserrat Light Italic;
}

/* Main Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

@font-face {
    font-family: Montserrat Light Italic;
    src: url('../fonts/MontserratAlternates-LightItalic.otf');
}

@font-face{
    font-family: Montserrat Semi Bold;
    src: url('../fonts/MontserratAlternates-SemiBold.otf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
}

/* Layout Settings */

nav {
    display: flex;
    width: 100vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundary);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font-main);
}

nav ul li a:hover {
    color: var(--color-text)
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px;
    justify-content: flex-start;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    border: 2px solid;
    width: 50%;
    list-style-type: none;
}

.list li {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.span {
    background: white;
}

.btn {
    padding: 10px 10px;
    text-align: center;
    text-decoration:none;
    background-color: white;
}

.btn-edit {
    background-color: blue;
    color: white;
}

.btn-edit:hover {
    background-color: white;
    color: blue;
}

.btn-delete {
    background-color: red;
    color: white;
}

.btn-delete:hover {
    background-color: white;
    color: red
}

.btn-watch {
    background-color: green;
    color: white;
}

.btn-watch:hover {
    background-color: white;
    color: green
}

.search {
    margin: 20px;
    width: 50%;   
}

.search-bar {
    padding: 10px;
    width: 80%;
}

.btn-search {
    width: 19%;
    background-color: black;
    color: white;
    outline: none;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}

.btn-search:hover {
    background-color: var(--color-secundary);
    color: white;
}

.aux-btns {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.aux-btns a {
    padding-right: 10px;
    text-decoration: none;
}